@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100vh;
    padding: 0px 0px 250px 0px;
    background: #f0f0f0; /* Cor de fundo mais clara */
    color: #333; /* Cor de texto mais escura */
}

/*navbar
---------------------------- */

.navbar {
    background: #333; /* Cor de fundo escura para a barra de navegação */
}

.nav-link {
    color: #fff; /* Cor de texto branca para os links de navegação */
}

.nav-link:hover {
    transform: scale(1.05);
    color: #ff6347; /* Cor de texto vermelha ao passar o mouse */
}

.nav-link.ativo {
    color: #007bff; /* Cor de texto azul para o link ativo */
}
